body{
    background: #DEFFED;
    zoom: 1.5;
}

.hide {
    visibility: hidden;
}
.rows:hover .hide {
    visibility: visible;
}

.circle {
    border-radius: 50%;
    border: 2px solid;
    background-color: white;
}

.display{
    display: inline-block;
    border-radius: 50%;
    border: 2px solid;
    background-color: white;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.select{
    text-align: center;
    margin-bottom: -5px;
}

h3{
    margin-top: -2px;
    font-weight: 700;
}

h4{
    margin-top: 10px;
    margin-bottom: 5px;
}

hr{
    border: 0;
    height: 2px;
    margin-top: -10px;
    background: #D7D7D7;
}

.wrapper{
    margin: auto;
    margin-top: 11px;
}



.rows {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}


.row0 {
    width: 0;
    border-bottom: 50px solid #A30043;
    margin-bottom: -5px;
}

.row1 {
    width: 91px;
    height: 0;
    position:relative;
    border-bottom: 50px solid #A30043;
    margin-bottom: 7px;
}

.row2 {
    width: 200px;
    height:0;
    border-bottom: 50px solid #FFE9BF;
    margin-bottom: 7px;
}

.row3 {
    width: 310px;
    height:0;
    border-bottom: 50px solid #FAFF4A;
    margin-bottom: -1px;
}

.row4 {
    width: 407px;
    height:0;
    border-bottom: 50px solid #6268FF;
    margin-bottom: -1px;
}

.row5 {
    width: 507px;
    height:0;
    border-bottom: 50px solid #4AFFA6;
    margin-bottom: -1px;
}

.row6 {
    width: 607px;
    height: 0;
    border-bottom: 50px solid #FFBF4A;
}